</style>
<body>
<<<<<<< HEAD
=======
  
>>>>>>> master
    
    <main  class="d-flex justify-content-center align-items-center">
    <div id="stack" class="d-flex flex-column min-vh-100 gap-4">
      
        <section id="about">


            <div class="col-md-12 d-flex align-items-center justify-content-center p-4">
<<<<<<< HEAD
                    <div class="px-4 mt-5 py-5 text-center">
                    <img src="/dp.png" id="profile-picture" class="img-fluid border rounded-circle shadow-lg mb-4" alt="profile picture" width="120" height="120" >
                    <h1 class="display-4 fw-bold" style="color: white;">Afiq Roslin</h1>
                    <!-- <div class="col-lg-6 mx-auto"> -->
                        <div id="introduction" class="lead">
                            <span>
                                A tech enthusiast with passion towards software development, business analysis, cybersecurity, computer system 
                                and robotics.
=======
                    <div class="px-4 mt-5 pt-5 text-center">
                    <img src="/dp.png" id="profile-picture" class="img-fluid border rounded-circle shadow-lg mb-4" alt="profile picture" width="120" height="120" >
                    <h1 class="display-4 fw-bold" style="color: white;">Afiq Roslin</h1>
                    <!-- <div class="col-lg-6 mx-auto"> -->
                        <div id="introduction" class="lead pt-5">
                            <span>
                              A tech enthusiast with a passion for software development and testing, business analysis, cybersecurity, computer systems, and robotics.
>>>>>>> master
                            </span>


                        </div>
                    </div>
                </div>
            
        </section>

        <section id="experience">

            <!-- Work Experience Section -->
              <div class="content container-fluid px-4">
                    <h2 class="fw-bold pt-5 mt-2 px-4">Work Experience</h2>

                    <div class="list-group px-4">
                      <div class="d-flex gap-3 py-3" aria-current="true">
                        <img src="https://www.u.com.my/content/dam/u-mobile/personal/general/logo/umobile-personal.svg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" style="object-fit: contain; background-color: white;">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Solution Analyst</h6>
                            <p class="mb-0 opacity-75">U Mobile, Kuala Lumpur</p>
                          </div>
                          <small class="opacity-75 text-nowrap">Oct 2023 - Present</small>
                        </div>
                      </div>
                      <div class="d-flex gap-3 py-3" aria-current="true">
                        <img src="./micron.png" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" style="object-fit: contain; background-color: white;">

                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Firmware Validation Engineer</h6>
                            <p class="mb-0 opacity-75">Micron Technology, Singapore</p>
                          </div>
                          <small class="opacity-75 text-nowrap">Sep 2022 - Sep 2023</small>
                        </div>
                      </div>
                      <div class="d-flex gap-3 py-3">
                        <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" style="object-fit: contain; background-color: white;">

                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Production Engineering Intern</h6>
                            <p class="mb-0 opacity-75">Sony, Selangor</p>
                          </div>
                        </div>
                        <small class="opacity-75 text-nowrap">Jul 2017 - Dec 2017</small>
                      </div>
                    </div>

                  </div>

        </section>

        <section id="education">

          <!-- Education Section -->
            <div class="content container-fluid my-3 px-4">
                  <h2 class="fw-bold px-4">Education</h2>

                  <div class="list-group pt-3 px-4">
                    <div class="d-flex gap-3 py-3" aria-current="true">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/LogoUTeM-2016.jpg" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" style="object-fit: contain; background-color: white;">
                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Bachelor of Electronic Engineering with Honours</h6>
                          <p class="mb-0 opacity-75">Universiti Teknikal Malaysia Melaka</p>
                        </div>
                        <small class="opacity-75 text-nowrap">Sep 2018 - Jul 2022</small>
                      </div>
                    </div>
                    <div class="d-flex gap-3 py-3" aria-current="true">
                      <img src="https://www.gmi.edu.my/wp-content/uploads/2019/06/logo-gmi-header.png" alt="twbs" width="50" height="50" class="rounded-circle flex-shrink-0" style="object-fit: contain; background-color: white;">

                      <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                          <h6 class="mb-0">Diploma in Industrial Electronic (Mechatronics)</h6>
                          <p class="mb-0 opacity-75">German-Malaysian Institute</p>
                        </div>
                        <small class="opacity-75 text-nowrap">Jul 2015 - Jul 2018</small>
                      </div>
                    </div>
                  </div>

                </div>

      </section>

      <section id="contacts">
        <div class="px-4 py-5 text-center">
          <div class="contact-me">
              <h2 class="mt-4 fw-bold text-white">Get In Touch</h2>
              <h3 class="py-4 text-white">Send me a message through my email or my websites!</h3>
              <div class="container">
              <div class="row justify-content-center align-items-center">
                  <div class="col-md-4 col-12 mb-2">
                      <a id="email" class="btn btn-light btn-lg custom-btn w-100" href="mailto:afiqroslin97@gmail.com">Email</a>
                  </div>
              </div>
            </div>
          </div>
 
      </div>
      
    </section>




    </div>
    </main>

</body>
</html>