</style>
    <body>
        <section id="footer">
            <footer>
            <div class="container py-5 justify-content-center text-center" id="footer">
                <p id="copyright">Copyright © Afiq Roslin  <%= new Date().getFullYear() %></p>
            </div>
            </footer>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="/script.js"></script>
        </section>
    </body>
</html>