@font-face {
  font-family: 'Minecraft';
  src: url('font/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Minecraft', Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.gradient-background{
    /* background: linear-gradient(300deg, #011f4b, #03396c, #005b96, brown,orange, #b3cde0); */
    background: linear-gradient(300deg, #222831, #31363F, #c5bdb6, #EEEEEE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .navbar-toggler{
    border-color: white;
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  #about{
    /* background-image: url(./asset/blue-bg.avif); */
    /* background-repeat: no-repeat; */
    /* background-color: #03396c; */
    background-color: #222831;
    background-size:  1000px 500px;
    background-position: center;
  }

  #profile-picture{
    background-color: #76ABAE;
  }

  #introduction{
    display: none;
    font-family: 'Minecraft', Helvetica, sans-serif;
    font-size: 1.5rem; 
    font-weight: 100; 
    color: white; 
    padding: 15px; 
    text-align: center justify;
  }

  body{
    /* background-color: #b3cde0;
    color: black; */
    background-color: #31363F;
    color: white;
  }

#experience{
  display: none;
  /* opacity: 0; Start hidden */
  /* transition: opacity 1s ease-in-out; */
}

/* .fade-in {
  opacity: 1 !important; /* Fully visible */
/* }  */

.exp-description-1{
  display: none;
  font-size: larger;
}

.exp-description-2{
  display: none;
  font-size: larger;
}

.exp-description-3{
  display: none;
  font-size: larger;
}

